<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="pageSelect" resultType="com.sky.vo.DishVO">
        select * from dish
        <where>
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="categoryId != null">
     and category_id = #{categoryId}
        </if>
        <if test="status != null">
     and status = #{status}
        </if>
        </where>order by status desc,update_time DESC
    </select>
    <delete id="deleteDish">
        DELETE FROM dish WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="addDish" keyProperty="id" useGeneratedKeys="true">
        insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user) VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, now(), now(), #{createUser}, #{updateUser})
    </insert>

    <select id="selectDishStatus" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM dish
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
        AND `status` = 1
    </select>

    <update id="updateDish">
        update dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            update_time = now(),update_user = #{updateUser} where id=#{id}
        </set>

    </update>
</mapper>